body{
    margin: 0;
    padding: 0;
   
}
.container{
    text-align: center;
    margin-top: 20vh;
    font-family: sans-serif;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#yesBtn {
    transition: transform 0.3s ease; /* Makes the growth smooth */
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#noBtn {
    background-color: #808080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999; /* Keeps the No button on top so it stays clickable */
}